<strong>Olá, {{ student.name }}</strong>

<p>
  <strong>Plano: </strong> {{ plan.title }} <br/>
  <strong>Data de término: </strong> {{ end_date }} <br/>
  <strong>Valor: </strong> R${{ price }} <br/>
  <br/>

  Seja bem vindo(a) a academía Gympoint

</p>
